.app__recipe-connect{
    margin-top: 80px;
    width:100%;
    height: auto;
    background: url('../../assets/insta-logo.png') center no-repeat;
    background-size: 90%;
    display: flex;
   
}

.circular-images{
   
   width: 400px;
   height:400px;
   min-height: 500px;
   min-width: 500px;
   border-radius: 500%;
   border:none;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   
   
   
   
}

.insta-logo-design{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding:10px;
    

}

.insta-logo-design :first-child{
    width: 200px;
    height:200px;
    filter: drop-shadow(white 0.2rem 0.2rem 10px);

    
}

.insta-logo-2{
    width:70%;
    filter: drop-shadow(white 0.5rem 0.8rem 10px);

}

.insta-logo-3{
    width:60%;
    filter: drop-shadow(white 0.3rem 0.3rem 10px);
}

.follow-details{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:10px;
    color: white;
    
    left: 60%;
    bottom: 35%;


   
}

.follow-details h1{
    font-size: 28px;
}

.follow-btn{
    display: block;
    background-color: #E48E1C;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
   
}
.circular-images__item{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: absolute;

   
}

.circular-images__item img{
    height: 120px;
    width: 120px;
    
}

.top{
    top:0;
    left:75%;
    transform: translateX(-50%) translateY(-50%);
}

.left{
    top:50%;
    left:20%;
    transform: translateX(-50%) translateY(-20%);
}

.top-left{
    top:-2%;
    transform: translateX(80%) translateY(20%);
}

.right{
    top:30%;
    right:0;
    transform: translateX(110%) translateY(-90%);
}

.right_bottom{
    bottom:20%;
    right:0;
    transform: translateX(160%) translateY(-30%);
}

.center_left{
    bottom:-15%;
    left:0;
    transform: translateX(98%) translateY(-30%);
}

.center_bottom{
    bottom:7%;
    left:70%;
    transform: translateX(130%) translateY(50%);
}

.center{
    bottom:-30%;
    left:50%;
    transform: translateX(60%) translateY(-50%);
    

}

@media screen and (max-width: 2000px){

}



